:root {
    box-sizing: border-box;
}

*,
:before,
:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: #eaeaea;
}

.wrapper {
    min-width: 320px;
    max-width: 1400px;
    margin: 0 auto;
}

.btn {
    cursor: pointer;
    border: none;
    padding: 3px 5px;
    border-radius: 3px;
}


ul {
    padding: 0;
    margin: 0;

}

p {
    margin: 0;
}

li {
    list-style-type: none;
}



.tasker {
    background-color: #fff;
    margin: 20px;
    max-width: 500px;
}

.tasker__add-btn {
    margin-bottom: 40px;
}

.task {
    padding: 20px;
    border-bottom: 1px solid grey;
}

.task__text {
    margin-bottom: 10px;
}

.task__info {
    display: flex;
}

.task__date {
    margin-right: 40px;
}

.task__delete-btn {
    background-color: red;
    color: #fff;
}

.task__done-btn {
    background-color: green;
    color: #fff
}

.task-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
}

.new-task__field {
    padding: 10px 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}
